{% extends 'base.html.twig' %}

{% block title %}Food To You - Votre site de repas de pap{% endblock %}
{% block css %}<link href="{{ asset('assets/css/charlotte.css') }}" rel="stylesheet">{% endblock %} 

{% block header %}
    <div id="thenavbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('ads') }}">
                    <img class="navLogo" src="{{ asset('assets/img/logofood.jpg') }}" alt="">
                </a>
            </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#hello" class="smoothscroll">Publier annonce</a></li>
                <li><a href="#green" class="smoothscroll">Panier</a></li>
                <li><a href="#portfolio" class="smoothscroll">Déconnexion</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
        </div>
    </div>
{% endblock %}


{% block homeMain %}
<div class="container-fluid" id="daily">
    <h2 class="dailyH2">Les plats du jour</h2>
</div>


 <div class="container">
   <div class="row" id="formEdit">
    <form id="formInside" action="" method="">
        <div class="col-lg-3">
            <input type="text" name="adress" id="adress" placeholder="Entrez votre adresse" required>
        </div>
        <div class="col-lg-3">
            <select class="form-control" name="meal" id="meal">
                <option value="envy" disabled selected>De quoi avez vous envie ?</option>
                <option value="pizza">Pizza</option>
                <option value="japonese">Japonais</option>
                <option value="burger">Burger</option>
                <option value="pasta">Pâte</option>
                <option value="worldMeal">Plats familiaux</option>
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" name="meal" id="meal">
                <option value="envy" disabled selected>Vos restrictions alimentaires </option>
                <option value="vegan">Vegan</option>
                <option value="vegetarien">Végétarien</option>
                <option value="halal">Halal</option>
                <option value="cacher">Cacher</option>
            </select>
        </div>
        <div class="col-lg-3"> 
            <button type="button">Valider</button>
        </div> 
    </form>   
    </div>                      
</div>


<div class="container-fluid" id="blockImg">
    <div class="row centered mt grid">
        <div class="mt"></div>
        <div class="col-lg-4">
            <h2>Les gyozas de Lisa</h2>
            <img class="imgDemo" src="{{ asset('assets/img/gyozas-maxime.jpg') }}" alt="">
        </div>
        <div class="col-lg-4">
            <h2>Le pho de Soline</h2>
            <img class="imgDemo" src="{{ asset('assets/img/pho-alexandre.jpg') }}" alt="">
        </div>
        <div class="col-lg-4">
            <h2>Le Poke de Manel</h2>
            <img class="imgDemo" src="{{ asset('assets/img/poke-soline.jpg') }}" alt="">
        </div>
    </div>

    <div class="row centered mt grid">
        <div class="mt"></div>
        <div class="col-lg-4">
            <h2>Le croque-monsieur de Charlotte</h2>
           <img class="imgDemo" src="{{ asset('assets/img/croque-melissa.jpg') }}" alt="">
        </div>
        <div class="col-lg-4">
            <h2>Le burger de Maxime</h2>
            <img class="imgDemo" src="{{ asset('assets/img/burger-manel.jpg') }}" alt="">
        </div>
        <div class="col-lg-4">
            <h2>Les pancakes de Mélissa</h2>
           <img class="imgDemo" src="{{ asset('assets/img/pancake-lisa.jpg') }}" alt="">
        </div>
    </div>
</div>
{% endblock %}




